* {
    margin: 0;
}

header {
    background-color: #C1E81B;
    display: flex;
    width: 1440px;
}

.botones__header {
    font-size: 36px;
    display: flex;
    align-items: center;
}

a {
    padding-left: 50px;
}

.logo {
    width: 375px;
    height: auto;
}

.huella {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.img__huella {
    width: 400px;
    height: auto;
    padding-right: 50px;
}

h1 {
    font-size: 64px;
    text-align: center;
    width: 702px;
    padding-bottom: 60px;
}

.parrafo__huella {
    font-size: 40px;
    text-align: center;
    width: 610px;
}

.titulo__servicios {
    text-align: center;
    padding-top: 100px;
    font-size: 64px;
    align-items: center;
}


.servicio {
    display: flex;
    font-size: 36px;
    padding-top: 50px;
    justify-content: center;
}

.servicio__imagen {
    width: 128px;
    height: auto;
    padding-left: 20px;
    padding-right: 100px;
}

.servicio__texto {
    width: 809px;
}

.titulo__formulario {
    text-align: center;
    padding-top: 100px;
    font-size: 64px;
    padding-bottom: 50px;
}

.formulario {
    display: flex;
    justify-content: center;
}

.formulario__grupo {
    padding-bottom: 30px;
}

form {
    font-size: 32px;
}

.forma {
    width: 608px;
    height: 42px;
}

.forma2 {
    width: 610px;
    height: 280px;
}

.formulario__grupo1 {
    display: flex;
}

.proyecto__form {
    width: 146px;
    padding-bottom: 30px;
}

button {
    background-color: #C1E81B;
    border-radius: 20px;
    width: 617px;
    height: 57px;
    margin-top: 30px;
    margin-left: 146px;
}
